<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Path where SQL script files are generated once the executable is run -->
    <add key="SQLScriptFilePath" value="utilities\CPE2UE_AttributesToPreferences"/>
	<add key="dkey" value="z11EfJT/Pys7FeaifI1gbGtrwHrRWKzNlQIEOKEWFFSwoIcAalVedEImVLARkl/jLxWJgC6bwCZylKPj+eNo5g=="/>
  </appSettings>
  <connectionStrings>
    <add name="PrefManRTConn" connectionString="Server=153.59.136.102; Database=PrefManRT; User Id=copient_logix; password=App0mattox" providerName="System.Data.SqlClient"/>
    <add name="LogixXSConn" connectionString="Server=153.59.136.102; Database=LogixXS_HEB; User Id=copient_logix; password=App0mattox" providerName="System.Data.SqlClient"/>
	 <add name="Logix" connectionString="User ID=Copient_Logix;Password=App0mattox;"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
