<?xml version="1.0"?>
<configuration>
  <!-- version:7.3.1.138972.Official Build (SUSDAY10202) -->
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="ncr.nep" type="Ncr.Nep.Core.Config.NepConfigurationSection, Ncr.Nep.Core, Version=2.6.9.0, Culture=neutral, PublicKeyToken=758916ab787fb79d"/>
    <section name="ncr.nep.configuration" type="CMS.AMS.Utilities.NEPConfiguration, CMS.AMS.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
  </configSections>
  <ncr.nep url="https://nep-gateway.swenglabs.ncr.com" application-key="8a808f025c3d4a7b015c59d6591a0016">
    <discovery environment="internet-lab" user-id="ams-logix-ui-tu" override-gateway-url="true" weak-version-checks="true" url-resolver="CMS.AMS.Security.NEP.NepUrlResolver"/>
    <technical-users>
      <user id="ams-logix-ui-tu" username="/ams/spartans" shared-key="e7700badf3f54d02b5480982d34f96c4" secret-key="32aab176515449d38baff6d48d856b5e"/>
    </technical-users>
  </ncr.nep>
  <ncr.nep.configuration>
    <customer-broker nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <health-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <coupon-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <ocd-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <promotion-broker nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <messaging-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
  </ncr.nep.configuration>
  <connectionStrings>
    <add name="Logix" connectionString="User ID=Copient_Logix;Password=App0mattox;"/>
  </connectionStrings>
  <appSettings file="ApplicationSettings.config">
    <add key="dkey" value="z11EfJT/Pys7FeaifI1gbGtrwHrRWKzNlQIEOKEWFFSwoIcAalVedEImVLARkl/jLxWJgC6bwCZylKPj+eNo5g=="/>
    <add key="nepsecurityurl" value="http://153.71.15.168:8080/services/rest" />
    <add key="externalconnectorsecuritybypass" value="false" />
    <add key="ConnectionStringParameters" value="" />
  </appSettings>
  <log4net configSource="log4net.config"/>
  <location path="logix/Offer-Rew-XMLPassThru.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <location path="logix/offer-channels.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" maxQueryStringLength="10240" encoderType="System.Web.Security.AntiXss.AntiXssEncoder"/>
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="/logix/server-message.aspx" redirectMode="ResponseRewrite"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.2">
      <codeSubDirectories>
        <add directoryName="CSCode"/>
        <add directoryName="VBCode"/>
      </codeSubDirectories>
      <assemblies>
        <add assembly="Microsoft.Practices.Unity, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="Microsoft.Practices.ServiceLocation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
        <add assembly="AgentInc, Version=1.0.0.1, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CPE_LS_DataTransferLib, Version=1.0.0.1, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="AMSPreferenceLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CAM, Version=1.0.0.1, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMOffer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ChannelLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CommonInc, Version=1.0.0.3, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ConnectorInc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CPEOffer, Version=1.0.0.1, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CryptLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CustomerInquiry, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CustomerUpdate, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CustomizedCustomerInquiry, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="EmailFeed, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ExportXml, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ExportXmlCPE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ExportXmlUE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ExternalCustomerAccounts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ExternalRewards, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="GZIPInc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ImportXml, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ImportXmlCPE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ImportXmlUE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ItemCodeValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="Locations, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="LogixInc, Version=1.0.0.2, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="LogixValueObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="MasterDataLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="Options, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ac8312396b313c75"/>
        <add assembly="PhraseLib, Version=1.0.0.2, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="Points, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="ProductGroup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="StoredValue, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!-- =============  Start New Core Libraries  =============== -->
        <add assembly="CMS.AuthLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.CryptLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.HashLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.Customer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.ConnectorLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.ValidationLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.DB.Contract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.DB.DBAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.Contract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.AuthLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.ConnectorLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Customer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.ListCache, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Contract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.ErrorHandler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.PhraseLib, Version=1.0.0.3, Culture=neutral, PublicKeyToken=2c63963ce2d73a2d"/>
        <add assembly="CMS.AMS.Servicesfactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.ValidationLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Offer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Program, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.WebControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Notes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Product, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Preference, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Locations, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Localization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Messaging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.RestCommAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Health, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <add assembly="CMS.AMS.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
        <!-- =============   End New Core Libraries   =============== -->
        <add assembly="Castle.Core, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc"/>
        <add assembly="Common.Logging.Core, Version=3.2.0.0, Culture=neutral, PublicKeyToken=af08829b84f0328e"/>
        <add assembly="Common.Logging, Version=3.2.0.0, Culture=neutral, PublicKeyToken=af08829b84f0328e"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Ncr.Nep.Core, Version=2.6.9.0, Culture=neutral, PublicKeyToken=758916ab787fb79d"/>
        <add assembly="Ncr.Nep.Services, Version=2.6.9.0, Culture=neutral, PublicKeyToken=758916ab787fb79d"/>
        <add assembly="Ncr.Nep.Waddle, Version=2.6.9.0, Culture=neutral, PublicKeyToken=758916ab787fb79d"/>
        <add assembly="Ncr.Nep.Web, Version=2.6.9.0, Culture=neutral, PublicKeyToken=758916ab787fb79d"/>
        <add assembly="Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed"/>
        <add assembly="AntiXssLibrary, Version=4.3.0.0, Culture=neutral, PublicKeyToken=d127efab8a9c114f"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Http, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Net.Http.Formatting, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Http.WebHost, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="Microsoft.Owin, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="Microsoft.Owin.Security, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="Owin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f0ebd12fd5e55cc5"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="PrevalidationSanitizer" type="Copient.PrevalidationSanitizer"/>
      <add name="AuthenticateWithNEP" type="CMS.AMS.Security.AuthenticateWithNEP"/>
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="AMSControls" assembly="CMS.AMS.WebControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D" namespace="CMS.AMS"/>
      </controls>
    </pages>
    <machineKey decryptionKey="F65BB973B2857EF16FEA6351341E2A86DB4180E7DF976D93" validationKey="9B02962EE47564C006AA15BEC903A7EB787A30FF4392AEA9EC03336E5A7D9360E908AF196F78F3C1D07FAA96B028B602BC1D631D92842DC9F45428CCC5FA1353"/>
  </system.web>
  <system.codedom/>
  <!-- 
    The system.webServer section is required for running ASP.NET AJAX under Internet
    Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules>
      <remove name="ServiceModel"/>
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler"/>
      <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
      <add name="PrevalidationSanitizer" type="Copient.PrevalidationSanitizer" preCondition="managedHandler"/>
      <add name="AuthenticateWithNEP" type="CMS.AMS.Security.AuthenticateWithNEP" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="svc-Integrated"/>
      <remove name="xoml-Integrated"/>
      <add name="*.vbhtml_*" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.vbhtm_*" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.cshtml_*" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.cshtm_*" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.aspq_*" path="*.aspq" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.xamlx_*" path="*.xamlx" verb="*" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="eurl.axd_*" path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" maxQueryString="10240"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="ExternalConenctorRewriteAsmx" stopProcessing="true">
          <match url="^connectors/external/(.*).asmx$"/>
          <action type="Rewrite" url="connectors/{R:1}.asmx"/>
        </rule>
        <rule name="ExternalConenctorRewriteAsmxRest" stopProcessing="true">
          <match url="^connectors/external/(.*).asmx/(.*)$"/>
          <action type="Rewrite" url="connectors/{R:1}.asmx/{R:2}"/>
        </rule>
        <rule name="ExternalConenctorRewriteAspx" stopProcessing="true">
          <match url="^connectors/external/(.*).aspx$"/>
          <action type="Rewrite" url="connectors/{R:1}.aspx"/>
        </rule>
        <rule name="CustomerConenctorRewrite" stopProcessing="true">
          <match url="^connectors/customer/(.*).asmx$"/>
          <action type="Rewrite" url="customer/connectors/{R:1}.asmx"/>
        </rule>
        <rule name="CustomerConenctorRewriteRest" stopProcessing="true">
          <match url="^connectors/customer/(.*).asmx/(.*)$"/>
          <action type="Rewrite" url="customer/connectors/{R:1}.asmx/{R:2}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="_test_libs"/>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>