/* Logix 5 screen stylesheet tweak for restricted users */
/* version:7.3.1.138972.Official Build (SUSDAY10202) */


body {
  background-position: 50% -39px;
  }
* html body {
  margin-top: 99px;
  }
#bar {
  margin-left: 0;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 776px;
  z-index: 61;
  }
#subtabs {
  border-right: 0;
  top: 25px;
  width: 776px;
  z-index: 60;
  }
#intro {
  top: 55px;
  }
#main {
  top: 97px;
  }
* html #main {
  top: 0;
  }