<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <add name="Logix" connectionString="User ID=Copient_Logix;Password=App0mattox;"/>
  </connectionStrings>
  <appSettings>
    <add key="dkey" value="z11EfJT/Pys7FeaifI1gbGtrwHrRWKzNlQIEOKEWFFSwoIcAalVedEImVLARkl/jLxWJgC6bwCZylKPj+eNo5g=="/>
    <add key="ConnectionStringParameters" value="" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
