<configuration>
<connectionStrings>
    <add name="Logix" connectionString="User ID=Copient_Logix;Password=App0mattox;"/>
  </connectionStrings>
	<!-- version:7.3.1.138972.Official Build (SUSDAY10202) -->
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="false" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="CommonInc, Version=1.0.0.3, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="PhraseLib, Version=1.0.0.2, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="CryptLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="LogixInc, Version=1.0.0.2, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="ConnectorInc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="CustomerInquiry, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="ExternalRewards, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="LogixValueObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="_test_libs"/>
		</assemblyBinding>
	</runtime>
</configuration>
