<configuration>
<!-- version:7.3.1.138972.Official Build (SUSDAY10202) -->
  <!-- this web config is purposely provided in this folder to maintain compatibility with xml being submitted to web services -->
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="ElapsedTimeLoggingForShellWS" value="True"/>
  </appSettings>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
    </compilation>
    <httpModules>
      <add name="PrevalidationSanitizer" type="Copient.PrevalidationSanitizer" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.codedom>
  </system.codedom>
 

</configuration>
