<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ncr.nep" type="Ncr.Nep.Core.Config.NepConfigurationSection, Ncr.Nep.Core, Version=2.6.9.0, Culture=neutral, PublicKeyToken=758916ab787fb79d" />
      <section name="ncr.nep.configuration" type="CMS.AMS.Utilities.NEPConfiguration, CMS.AMS.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2C63963CE2D73A2D" />
    </configSections>
    <ncr.nep url="https://nep-gateway.swenglabs.ncr.com" application-key="8a808f2a5884c368015a8fb477380018">
        <discovery environment="internet-lab" user-id="ams-logix-ui-tu" override-gateway-url="true" weak-version-checks="true" />
        <technical-users>
            <user id="ams-logix-ui-tu" username="/ams/spartans" shared-key="e7700badf3f54d02b5480982d34f96c4" secret-key="32aab176515449d38baff6d48d856b5e" />
        </technical-users>
    </ncr.nep>
  <ncr.nep.configuration>
    <customer-broker nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <health-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <coupon-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <ocd-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <promotion-broker nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
    <messaging-service nep-service-version="7.0.0-RC:1.0" nep-service-timeout="5000"/>
  </ncr.nep.configuration>
  <connectionStrings>
    <add name="Logix" connectionString="User ID=Copient_Logix;Password=App0mattox;"/>
  </connectionStrings>
  <appSettings>
    <add key="dkey" value="z11EfJT/Pys7FeaifI1gbGtrwHrRWKzNlQIEOKEWFFSwoIcAalVedEImVLARkl/jLxWJgC6bwCZylKPj+eNo5g=="/>
    <add key="ConnectionStringParameters" value="" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
